

h1 {
  text-align: center;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 700;
  font-size: 50px;
 }


 h2 {
   text-align: center;
   font-family: 'Montserrat', Helvetica, Arial, sans-serif;
   font-weight: 550;
   font-size: 30px;
 }

 h3 {
   text-align: center;
   font-family: 'Montserrat', Helvetica, Arial, sans-serif;
   font-weight: 550;
   font-size: 30px;
   border-bottom: solid;
   padding-bottom: 10px;
 }

 h4 {
   text-align: center;
   font-family: 'Montserrat', Helvetica, Arial, sans-serif;
   font-weight: 550;
   font-size: 35px;
   background-color: #bdbdbd;
   padding: 10px;
   margin-bottom: -20px;
   border-bottom: 2px;
 }

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 400;
	background-color: white;
}

footer {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 15px;
  margin-top: 30px;
  font-style: italic;
}

.bold {font-weight: 700;
font-size: 40px;
margin-top: -20px;
}

.bold2 {font-weight: 700;
}

.bold3 {
  font-weight: 700;
  text-align: center;
}

.serv {
  margin-top: 24px;
}

.underline {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.Mel {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: -20px;
}

.contactinfo {
  margin-left: -38px;
}


.name {
  font-size: 35px;
  font-style: italic;
  font-weight: 10px;
  text-align: center;
}

#contactlist {
  list-style-type: none;
  font-size: 20px;
  margin-top: -15px;
}

.space {
  margin-bottom: 8px;
}

#nav li{
  margin: 0;
  padding: 0;
}

#nav {
  background-color: #f1c61a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}

#nav a:link, #nav a:visited {
  color: black;
  display: block;
  text-decoration: none;
  text-align: center;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 400;
  padding: 10px;
  font-size: 20px;
 }

 #nav a:hover, #nav a:active {
	background-color:#FFF7A2;
}

#nav2 li{
  margin: 0;
  padding: 0;
}
#nav2 {
  background-color: #bdbdbd;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}

#nav2 a:link, #nav2 a:visited {
  color: black;
  display: block;
  text-decoration: none;
  text-align: center;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 400;
  padding: 4px;
  font-size: 15px;}

  #nav2 a:hover, #nav a:active {
 	background-color: #FFF7A2;
 }

.video {
  position: relative;
  padding-bottom: 56.25%;
  /* padding-top: 25px; */
  height: 0;
  margin-top: 35px;
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video1 {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 30px;
  /* padding-top: 25px; */
  height: 0;
}

.video1 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.howto {
  font-weight: 700;
  font-size: 20px;
}

.howtoreg {
  margin-top: 32px;
  margin-bottom: -5px;
}

#howto {
  margin-bottom: 30px;
  border-bottom: solid;
  border-color: black;
  padding-bottom: 30px;
}

.meet {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 80px;
  text-align: right;
  padding-top: 5px;
}

 img {
  border: none;
  width: 100%;
  margin-left: 0px;
}


#logo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: -20px;
}

.caption {
  margin-top: 1px;
  margin-left: 0px;
  font-size: 15px;
  font-style: italic;
}

.navsearch {
  display: none;
}

#container {
  max-width: 90%;
  margin: auto;
}

#logo4life {
  display: none;
}

.part1 {
  font-size: 15px;
}

.part2 {
  font-size: 15px;
}

#services {
    padding: 20px;
    font-size: 12px;
    background-color: #bdbdbd;}



/* ***BEGIN MEDIA QUERIES*** */



@media (min-width:650px) {


  .navsearch {
    display: block;
    margin-top: 12px;
  }


.search1 {
    display: none;
}

  #nav {
      flex-flow: row wrap;
      justify-content: space-around;
      display: flex;
    }

    #container {
      max-width: 90%;
      margin: 0 auto;
    }

  #nav a {
      border: none;}



      #logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        margin-bottom: -20px;
      }


#logo4life {
  display: none;
}


#photogrid {
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-gap: 20px;
      margin-top: -10px;
      grid-template-areas:
        "g g g g"
        "a b c d"
        "e f . .";
      }

      .underline {
        grid-area: g;
      }
      
      .photo1 {
        grid-area: a;
      }

      .photo2 {
        grid-area: b;
      }

      .photo3 {
        grid-area: c;
      }

      .photo4 {
        grid-area: d;
      }

      .photo5 {
        grid-area: e;
      }

      .photo6 {
        grid-area: f;
      }


      #photogrid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            grid-template-areas:
              "g g"
              "a b"
              "c d"
              "e f";
            }

            .underline {
              grid-area: g;
            }

            .photo1 {
              grid-area: a;
            }

            .photo2 {
              grid-area: b;
            }

            .photo3 {
              grid-area: c;
            }

            .photo4 {
              grid-area: d;
            }

            .photo5 {
              grid-area: e;
            }

            .photo6 {
              grid-area: f;
            }

            #photogrid2 {
              display: grid;
              grid-template-columns: 1fr 1fr;
              grid-gap: 20px;
              grid-template-areas:
                "g g"
                "a b"
                "c d"
                "e .";
              }

              .underline {
                grid-area: g;
              }


              .photo1 {
                grid-area: a;
              }

              .photo2 {
                grid-area: b;
              }

              .photo3 {
                grid-area: c;
              }

              .photo4 {
                grid-area: d;
              }
              .photo5 {
                grid-area: e;
              }


              #contact {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
                grid-template-areas:
                "a b"
                "c c";}

                .Mel {
                  grid-area: a;
                }

                .contactinfo {
                  grid-area: b;
                  margin-top: 30px;
                }

                .description1 {
                  grid-area: c;
                  margin-top: 30px;
                }

      #join {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px;
          grid-template-areas:
                  "a b";}

      .team {
          grid-area: a;
          width: 90%;
          margin-bottom: 20px;
                  }

      .description2 {
          grid-area: b;
          margin-top: 0px;
            }

  #services {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
      padding: 20px;
      grid-template-areas:
      "a b c d";}

      .services1 {
        grid-area: a;
        font-size: 12px;
                }

      .services2 {
        grid-area: b;
        font-size: 12px;
                }

      .services3 {
        grid-area: c;
        font-size: 12px;
                }

      .services4 {
        grid-area: d;
        font-size: 12px;
                }
}


@media (min-width:1000px) {

  .join1 {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
  }

#logo {
  display: none;
}

#logo4life {
  display: flex;
  align-content: center;
  width: 90%;
  margin: 20px;
}


#logorder {
  display: grid;
  grid-template-columns: 1fr 4fr;
      grid-template-areas:
        "a b";}

    #logo4life {
      grid-area: a;
    }

    #nav {
      grid-area: b;
      margin-top: 50px;
    }

/* #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: -20px;
  } */

  #contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    grid-template-areas:
    "a b"
    "a c";}

    .Mel {
      grid-area: a;
      width: 70%;
      margin-bottom: 20px;
    }

    .contactinfo {
      grid-area: b;
      margin-top: -10px;
      margin-left: -38px;
    }

    .description1 {
      grid-area: c;
      margin-top: -10px;
    }

  #work-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 20px;
          grid-template-areas:
            "a a a"
            "b b b"
            "c c c"
            "d d d";}

  .intro {
      grid-area: a; }

  .video1 {
      width: 100%;
      align-content: center;
      grid-area: b;}

  .below {
      width: 100%;
      grid-area: c; }

  .rainbow {
      width: 100%;
      margin-right: 10px;
      grid-area: d;}


  #nav2 {
        flex-flow: row wrap;
        justify-content: space-around;}

  #nav2 a {
        border: none;}


  #grid4work {
    display: grid;
    max-width: 95%;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 20px;
    margin-bottom: 10px;
    grid-template-areas:
      "a b b"
      "a c d";
    }

      .trigger {
        grid-area: a;
        background-color: #bdbdbd;
      }

      .intro {
        grid-area: b;
      }

      .part1 {
        margin-top: -48px;
        margin-bottom: -20px;
        grid-area: c;
        font-size: 16px;
      }

      .part2 {

        grid-area: d;
        font-size: 16px;
      }

      .test_76 {
        grid-area: d;
      }

  #photogrid {
        display: grid;
        max-width: 95%;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas:
          "g g g"
          "a b c"
          "d e f";
        }

        .underline {
          grid-area: g;
          margin-bottom: 15px;
        }

        .photo1 {
          grid-area: a;
        }

        .photo2 {
          grid-area: b;
        }

        .photo3 {
          grid-area: c;
        }

        .photo4 {
          grid-area: d;
        }

        .photo5 {
          grid-area: e;
        }

        .photo6 {
          grid-area: f;
        }



    #photogrid2 {
      display: grid;
      max-width: 95%;
      margin: 0 auto;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      grid-template-areas:
        "g g g"
        "a b c"
        "d e .";
      }

      .underline {
        grid-area: g;
        margin-bottom: 15px;
      }

      .photo1 {
        grid-area: a;
      }

      .photo2 {
        grid-area: b;
      }

      .photo3 {
        grid-area: c;
      }

      .photo4 {
        grid-area: d;
      }

      .photo5 {
        grid-area: e;
      }

      #join {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 20px;
        grid-template-areas:
        "a b";}

        .team {
          grid-area: a;
          width: 90%;
          margin-bottom: 20px;
        }

        .description2 {
          grid-area: b;
          margin-top: 0px;
          }

#services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    grid-template-areas:
    "a b c d";}

    .services1 {
      grid-area: a;
      font-size: 15px;
    }

    .services2 {
      grid-area: b;
      font-size: 15px;
    }

    .services3 {
      grid-area: c;
      font-size: 15px;
    }

    .services4 {
      grid-area: d;
      font-size: 15px;
    }
}
