

h1 {
  text-align: center;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 700;
  font-size: 50px;
 }


 h2 {
   text-align: center;
   font-family: 'Montserrat', Helvetica, Arial, sans-serif;
   font-weight: 550;
   font-size: 30px;
 }

 h3 {
   text-align: center;
   font-family: 'Montserrat', Helvetica, Arial, sans-serif;
   font-weight: 550;
   font-size: 30px;
   border-bottom: solid;
   padding-bottom: 10px;
 }

 h4 {
   text-align: center;
   font-family: 'Montserrat', Helvetica, Arial, sans-serif;
   font-weight: 550;
   font-size: 35px;
   background-color: grey;
   padding: 10px;
   text-decoration: underline;
   margin-bottom: -20px;
 }

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 400;
	background-color: white;
}

footer {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 15px;
  margin-top: 30px;
  font-style: italic;
}

.bold {font-weight: 700;
font-size: 40px;
}

.bold2 {font-weight: 700;
}

#container {
  max-width: 80%;
  margin: 0 auto;
}

#nav li{
  margin: 0;
  padding: 0;
}

#nav {
  background-color: #f1c61a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}

#nav a:link, #nav a:visited {
  color: black;
  display: block;
  text-decoration: none;
  text-align: center;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 400;
  padding: 10px;
  font-size: 20px;
 }

 #nav a:hover, #nav a:active {
	background-color:#FFF7A2;
}

#nav2 li{
  margin: 0;
  padding: 0;
}
#nav2 {
  background-color: #FFF7A2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}

#nav2 a:link, #nav2 a:visited {
  color: black;
  display: block;
  text-decoration: none;
  text-align: center;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 400;
  padding: 4px;
  font-size: 15px;}

  #nav2 a:hover, #nav a:active {
 	background-color: #FFF7A2;
 }

.video {
  position: relative;
  padding-bottom: 56.25%;
  /* padding-top: 25px; */
  height: 0;
  margin-top: 35px;
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video1 {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 30px;
  /* padding-top: 25px; */
  height: 0;
}

.video1 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.howto {
  font-weight: 700;
  font-size: 30px;
}

#howto {margin-bottom: 30px;}

.meet {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 80px;
  text-align: right;
  border-top: solid;
  padding-top: 5px;
}

 img {
  border: none;
  width: 100%;
  margin-left: 0px;
}

.logo1 {
  display: flex;
  margin: auto;
  border: none;
  width: 70%;
}

.logo2 {
  display: flex;
  margin: auto;
  border: none;
  width: 70%;
}

.caption {
  margin-left: 0px;
}

#contact {
  list-style: none;
  display: block;
  padding: 10px;
  font-style: italic;
  background-color: #ABAAAA;
}
.menu-trigger {
  display: block;
  order: 1;
  font-size: 2.5em;
  color: #f1c61a;
  margin-top: 5px;
  border-bottom: none;
  padding-bottom: 8px;
}

#nav {
  display: none;
}

.search {
  display: none;
}

@media (min-width:650px) {

  /* #home-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 20px;
          grid-template-areas:
                "a a b"
                "b b b";}

  .test_video {
      grid-area: a;
    }

    #container {
      grid-area: b;
    } */

    .menu-trigger {
      display: none;
    }

  #nav {
      flex-flow: row wrap;
      justify-content: space-around;
      display: flex;
    }

  #nav a {
      border: none;}

  .logo1 {
        width: 30%;
        margin-left: 2px;
      }

  .logo2 {
   width: 50%;
      }

.search1 {
  display: none;
}

.search {
  display: block;
}

  /* #work-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 20px;
          grid-template-areas:
            "a a a"
            "b b b"
            "c c c"
            "d d d";}

  .intro {
      grid-area: a; }

  .video1 {
      width: 100%;
      align-content: center;
      grid-area: b;}

  .below {
      width: 100%;
      grid-area: c; }

  .rainbow {
      width: 100%;
      margin-right: 10px;
      grid-area: d;}
} */

  #contact {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
    }



@media (min-width:1000px) {

  #home-container2 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 20px;
          grid-template-areas:
                "a a b";}

  .test_video {
      grid-area: a;
    }

    #container {
      grid-area: b; }


.logo1 {
  width: 20%;
  margin-left: 2px;
}

.logo2 {
  width: 40%;
}

.search1 {
    display: none;
}

.search {
  display: flex;
}

  #nav2 {
        flex-flow: row wrap;
        justify-content: space-around;}

  #nav2 a {
        border: none;}


  #grid4work {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 20px;
    grid-template-areas:
      "a b b"
      "a c d"
      ". . ."
      ". . ."
      "e f g"
      "h i j";
    }

      .trigger {
        grid-area: a;
        background-color: #FFF7A2;
      }

      .intro {
        grid-area: b;
      }

      .part1 {
        margin-top: -48px;
        margin-bottom: -20px;
        grid-area: c;
        font-size: 20px;
      }

      .part2 {
        grid-area: d;
        font-size: 20px;
      }

      .test_76 {
        grid-area: d;
      }

      .photo1 {
        grid-area: e;
      }
      .photo2 {
        grid-area: f;
      }
      .photo3 {
        grid-area: g;
      }
      .photo4 {
        grid-area: h;
      }

    }
